flagship/demo/src/env.js
cov_profile
cov_profile.lcov
flagship/node_modules/*
coverage
flagship/demo/node_modules/*
flagship/demo/**/config.js
flagship/dist
flagship/dist-deno
**/**/node_modules
**/**/build
**/**/config.ts
**/**/.next/*
**/node_modules
**/dist
**/.env